:root{
  --color-light: #e0c3fc;
  --color-date-time: #8fbcf3;
}

.layout-container{
  display: grid;
  gap: 1rem;
  height: 100vh;
  grid-template-areas: 
  "l m m m m m m m m r r"
  ;
  margin-top: 2rem;
}
.left-side-container{
  grid-area: l;
  border: 1px solid rgb(0, 255, 21);
}
.middle-side-container{
  grid-area: m;
  border: 1px solid rgb(0, 153, 255);
  border-radius: 5px;
}
.right-side-container{
  grid-area: r;
  border: 1px solid rgb(255, 0, 0);
}

/* LeftSide */
.img-logo-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 3rem;
}
.topic-logo{
  width: 2rem;
  margin: 1rem;
}
.bar-container{
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0.5rem 0;
}
