@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
  --color-light: #e0c3fc;
  --color-date-time: #8fbcf3;
}

.layout-container{
  display: grid;
  gap: 1rem;
  height: 100vh;
  grid-template-areas: 
  "l m m m m m m m m r r"
  ;
  margin-top: 2rem;
}

.left-side-container{
  grid-area: l;
  border: 1px solid rgb(0, 255, 21);
}
.middle-side-container{
  grid-area: m;
  border: 1px solid rgb(0, 153, 255);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100ve;
  gap: 1rem;
}
.right-side-container{
  grid-area: r;
  border: 1px solid rgb(255, 0, 0);
}

/* LeftSide */
.img-logo-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 3rem;
}
.topic-logo{
  width: 2rem;
  margin: 1rem;
}
.bar-container{
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0.5rem 0;
}

/* Middle */
.middle-side-right{
  grid-column: 1/2;
}
li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.nav_links{
  list-style: none;
}

.nav_links li {
  display: inline-block;
}

.nav_links li a{
  transition: all 0.3s ease 0s; /* ease: nice and smooth, 0s no delay */
    background-color: var(--color-date-time);
    padding: 0.5rem ;
    margin: 0.5rem;
    border-radius: 5px;
}

.nav_links li a:hover{
  background-color: var(--color-light);
}